body {
  margin: 0;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  color: #00ffcc;
  font-size: 60px;
  font-family: monospace;
}
