body {
  font-family: Arial, sans-serif;
  transition: 0.3s;
}

.light {
  background: #f1f5f9;
  color: #020617;
}

.dark {
  background: #020617;
  color: white;
}

.theme-app {
  text-align: center;
  margin-top: 100px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}