.joke-app {
  margin-top: 20px;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  color: white;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #22c55e;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}